*.iml
*.ipr
*.iws
*Db.properties
*Db.script
.DS_Store
.classpath
.gradle
.idea
.project
.settings
/*.war
/*.zip
/logs
/plugin.xml
/plugins
/prodDb.*
/stacktrace.log
/target
/test/reports
/web-app/WEB-INF/classes
/web-app/plugins
Thumbs.db
build/
out/
